@using Microsoft.AspNetCore.Identity
@model List<AppUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Kullanıcı Listesi</h2>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <tr>
                                <th>#</th>
                                <th>Ad Soyadı</th>
                                <th>Kullanıcı Adı</th>
                                <th>Kullanıcı E-postası</th>
                                <th>Rol Ata</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name @item.Surname</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td><a href="/Role/AssignRole/@item.Id/" class="btn btn-warning">Rol Ata</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


